
.navbar {
  width: auto;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff0f0;
  padding: 0 1.5rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
 
  z-index: 100;
}

.logo {
  font-size: 1.6rem;
  font-weight: bold;
  color: #222;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  align-items: center;
}

.logo span {
  color: #ff6347;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #ff6347;
}